.boxWrapper {
  display: flex;
  flex-direction: column;
  width: 380px;
}

.input {
  min-height: 80px;
  margin-bottom: 24px;

  & p {
    text-transform: none;
  }
}

.upload {
  display: flex;
  padding-bottom: 50px;

  label {
    padding: 14px 15px;
    cursor: pointer;
  }

  div {
    padding: 14px 16px;
    width: 100%;
  }
}
